html {
  height: 100%;
}

#info-popup {
  position: fixed;

  height: 90%;
  min-height: fit-content;
  top: 5%;
  bottom: 30%;
  left: 30%;
  right: 30%;

  border-radius: 10px;
  background: rgb(188, 189, 175);
  box-shadow: 0 0 10px #000000;
  z-index: 6;
  display: none;
  grid-template-rows: auto;
}
#info-overlay {
  top: 0;
  height: 100%;
  z-index: 5;
}

.unselectable-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: cursive;
}
.orderBar {
  padding: 1% 20% 1% 1%;
  position: fixed;
  bottom: 1px;
  width: 100%;
  height: 16%;
  background-color: var(--mainNavColor);
  z-index: 4;
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-gap: 10px;
}
.orderScroll {
  left: 0;
  padding: 1% 1% 1% 1%;
  height: 100%;
  width: 100%;
  bottom: 10px;
  background-color: rgb(32, 15, 15);
  opacity: 80%;
  border-radius: 20px;
  position: relative;
}
.scrollRow {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.barButtonBox {
  justify-self: center;
  /* align-self: center; */
  margin-top: 5%;
  /* Josis' style */
  /* position: relative; */
  /* padding-right: 1%; */
  /* width: 15%; */
}
.confirmButton {
  width: 5rem;
  height: 5rem;

  /* Josis' style */
  /* width: 50px; */
  /* height: 50px; */
  /* position: absolute; */
  /* left: 20%; */
  /* top: 15px; */
  /* padding: 10px; */
  /* border-radius: 20px 20px; */
}
.confirmButton:hover {
  background-color: rgb(241, 226, 213);
}
.clearButton {
  width: 5rem;
  height: 5rem;
  /* Josi's style */
  /* width: 50px; */
  /* height: 50px; */
  /* position: absolute; */
  /* left: 20%; */
  /* top: 15px; */
  /* padding: 10px; */
  /* border-radius: 25px 25px; */
}
.clearButton:hover {
  background-color: rgb(233, 205, 180);
}

.overlay {
  position: fixed;
  right: 0;
  left: 0;
  display: none;
  z-index: 4;
}

#lang-overlay {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 80%;
}

#menu-overlay {
  top: 0;
  height: 100%;
}

#bar-overlay {
  padding: 1% 20% 1% 1%;
  bottom: 0;
  height: 18%;
  z-index: 6;
}

.shadowed {
  background-color: black;
  opacity: 80%;
}

.red-bordered {
  border-style: solid;
  border-width: thick;
  border-color: rgb(245, 38, 38) !important;
}

.unclickable {
  opacity: 50%;
}

.green-bordered {
  border-style: solid;
  border-width: thick;
  border-color: rgb(40, 228, 40) !important;
}

.shopItem {
  display: inline-block;
  padding: 1% 1% 1% 1%;
  background-color: rgb(109, 63, 79);
  position: relative;
  margin-left: 2%;
  background-image: url("../res/alcohol.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid rgba(92, 89, 65, 0.6);
  border-radius: 25px 25px;
  border-width: thick;
}
.shopItem:hover {
  background-color: rgb(202, 171, 181);
}
.nameTag {
  background-color: rgba(236, 243, 243, 0.633);

  /* height: 20%; */
  position: absolute;
  text-align: center;
  height: auto;
  width: 94%;
  /* margin-left: 1px;
  padding-left: 2px; */
  border-radius: 15px 15px;
  font-size: large;
}

.infoIcon {
  height: 20%;
  width: 20%;
  border-radius: 10px 10px;
  margin: 2% 2% 2% 2%;
}
.ecoIcon {
  border-radius: 10px 10px;
  height: 20%;
  width: 20%;
  bottom: 30%;
  margin: 2% 2% 2% 2%;
}
.pcent {
  height: 20%;
  width: 20%;
  margin: 2% 2% 2% 2%;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 2px 2px 0px #000000;
  font-size: large;
}
.indeButton {
  display: inline-block;
  bottom: 0;
  position: absolute;
  margin-bottom: 5%;
  position: absolute;
  justify-content: center;
  /* height: auto;
  width: 50%; */
  /* margin-left: 1px;
  padding-left: px; */

  font-size: large;
}
.indeDiv {
  background-color: rgb(22, 192, 22);
  display: inline-block;
  text-align: center;
  font-weight: bolder;
  border-radius: 10px 10px;
}
/* @media <media-type> and (min-width:1200px){} */
/* @media tv           and  (min-width:1200px){} */
@media screen and (max-width: 826px) {
  .display-container {
    position: relative;

    background-color: rgb(188, 189, 175);
    display: grid;

    /* grid-template-areas: "sideshow itemshow itemshow itemshow"; */
    grid-template-columns: 0.8fr 1.8fr auto;
    grid-gap: 20px;
    padding: 0;
  }
  .side-container {
    grid-template-rows: repeat(auto-fit, minmax(7vh, auto));
    width: 30vw;

    /* grid-area: sideshow; */
  }

  .side-container h1 {
    text-transform: uppercase;
    font-size: small;
    padding: 5px;
    margin-left: 4px;
    border-radius: 5px;
  }
  .item-container {
    position: relative;

    left: 2vw;
    top: 0.5vh;

    right: 0;
    display: grid;
    margin: 1rem;
    overflow-y: scroll;

    grid-template-columns: repeat(auto-fit, minmax(100px, 135px));
    grid-auto-rows: minmax(125px, 155px);
    grid-gap: 20px;
    /* grid-auto-rows: minmax(12vh, auto); */
  }
  .shopItem {
    background-size: contain;
    font-size: small;
  }
  .show-filter {
    display: none;
    grid-template-rows: (auto, minmax(20px, 30px));

    padding-left: 2px;

    background-color: var(--mainNavColor);

    border-radius: 15px 1px;
  }
  .show-filter h3 {
    font-size: small;
    margin-block-end: 0.1em;
    /* align-items: center; */
    justify-content: center;
  }

  .nameTag {
    background-color: rgba(201, 205, 209, 0.6);

    font-size: xx-small;
  }
  .pcent {
    height: 15%;
    width: 15%;
    margin-right: 5%;
    /* color: rgb(19, 13, 13); */
    font-weight: bold;
    font-size: small;
  }
  .inButton {
    height: 70%;
    width: 70%;
    font-size: 60%;
  }
  .quanText {
    height: 70%;
    width: 70%;
    font-size: 60%;
  }
  .indeButton {
    margin-bottom: 15%;
  }
  .nameTag {
    background-color: rgba(236, 243, 243, 0.633);

    /* height: 20%; */

    width: 84%;
  }
  .header-list {
    display: grid;
    grid-template-columns: 7fr 0.7fr 0.7fr 0.7fr 0.7fr 2fr;
    grid-auto-rows: repeat(1, minmax(40px, 100px));

    grid-gap: 5px;

    list-style: none;
  }
  .nav {
    height: 70px;
  }
  .nav-list {
    background-color: var(--mainNavColor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(40px, 60px);

    grid-gap: 10px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;

    list-style: none;
    box-shadow: black;
  }

  #nav-prev-page-btn {
    font-size: 1rem;
  }

  #nav-page-index-box * {
    font-size: 0.75rem;
  }

  #nav-next-page-btn {
    font-size: 1rem;
  }

  .nav-drink {
    font-size: 1rem;
  }
  .nav-food {
    font-size: 1rem;
  }
  .orderScroll {
    bottom: 2px;
  }
  .vip-container {
    width: 200px;
    height: 220px;
    background: rgb(161, 161, 126);
    /* position: absolute; */
    position: fixed;
    top: 25%;
    right: 10vw;
    /* transform: translate(-40%, -40%); */
  }
  #language-options {
    position: absolute;
    top: 7%;
    left: 60%;
    min-width: min-content;
    border-radius: 2px solid rgb(202, 196, 189);
    border-radius: 10px 0px 25px 25px;
    /* box-shadow: 0px 8px 16px 0px rgba(129, 103, 55, 0.2); */
    z-index: 5;
  }
  .barButtonBox {
    position: relative;
    align-items: center;
    /* padding-right: 1%; */
    /* width: 15%; */
    /* display: inline-block; */
  }
  .confirmButton {
    width: 3rem;
    height: 3rem;
    /* Josi's */
    /* width: 30px; */
    /* height: 30px; */
    /* position: absolute; */
    /* left: 10%; */
    /* top: 15px; */
    /* padding: 5px; */
  }
  .confirmButton:hover {
    background-color: rgb(197, 161, 130);
  }
  .clearButton {
    width: 3rem;
    height: 3rem;
    /* Josi's */
    /* width: 70px; */
    /* height: 30px; */
    /* position: absolute; */
    /* left: 10%; */
    /* top: 15px; */
    /* padding: 5px; */
  }
  .payoverlay-dialog {
    position: fixed;

    max-height: 100%;
    min-height: 85%;
    max-width: 40%;
    min-width: 50%;
  }
}

.infoDiv {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 90%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#language-options {
  position: fixed;
  top: 14%;
  left: 62%;
  min-width: min-content;
  /* height: 120px; */
  /* width: 60px; */
  border-radius: 2px solid rgb(202, 196, 189);
  border-radius: 10px 0px 25px 25px;
  /* box-shadow: 0px 8px 16px 0px rgba(129, 103, 55, 0.2); */
  z-index: 5;
}

.language-options div {
  cursor: pointer;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: black;
  border-style: solid;
  border-width: thin;

  background-color: rgba(199, 165, 93, 0.9);
  /* opacity: 80%; */
  color: white;
}

#language-button .language-options {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* start vip css */

.vip-container {
  width: 220px;
  height: 300px;
  background: rgb(161, 161, 126);
  /* position: absolute; */
  position: fixed;
  top: 25%;
  left: 89%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  border-radius: 10px 0px 25px 25px;
  z-index: 10;
  visibility: hidden;
}
.vip-container h1 {
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.tbox {
  width: 160px;
  height: 30px;
  background-color: #f1f1f1b3;
  border-radius: 10px;
  margin: 10px auto;
}
.tbox input {
  background: none;
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
  line-height: 17px;
  font-family: "Monstserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
#vip-btn {
  width: 160px;
  height: 30px;
  background: #3498db;
  border-radius: 10px;
  margin: 14px auto;
  display: block;
  font-family: "Monstserrat", sans-serif;
  font-size: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.vip-container a {
  margin: 2px;
  margin-top: 20px;
  display: block;
  width: 120px;
  padding: 8px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: auto;
  transition: 0.4s all;
  font-size: 10px;
  border-radius: 10px;
}
.b1 {
  color: white;
}
.b2 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);

  color: #3498db;
}
.vip-container a:hover {
  background: #00000040;
}
.vip-close {
  justify-content: start;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.24rem;
  font-weight: bold;
  align-items: right;
}

/* .vip-header {
} */
.vip-close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.24rem;
  font-weight: bold;
}
.first-name-div {
  margin: 1rem;
  /* padding: 1rem; */
}
/* end vip css */
