html {
    height: 100%;
}

body{
    height:100%;
    margin: 0;
    padding: 0;
    font-family: cursive;
 }
.orderBar{
    padding: 1% 20% 1% 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 18%;
    background-color: dimgrey;
    z-index: 5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}
.orderScroll{
    left: 0;
    padding: 1% 1% 1% 1%;
    height: 80%;
    width: 80%;
    background-color: black;
    opacity: 50%;
    border-radius: 20px;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
}
.scrollRow{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.orderButtonBox{
    position: fixed;
    right: 0;
    padding-right: 2%;
    height: 80%;
    width: 10%;
    opacity: 50%;
    display: inline-block;
}
.confirmButton{
    height:10%;
    width:100%;
    border-radius: 20px;
    box-sizing:border-box;
    margin-top:50%;
}
.rubbishBin{
    background-color: red;
    height:10%;
    width:100%;
    border-radius: 20px;
    box-sizing:border-box;
    padding:10%;
}

.overlay {
    position: fixed;
    right: 0;
    left: 0;
    display: none;
    z-index: 4;
}

#menu-overlay {
    top: 0;
    height: 100%;
}

#bar-overlay {
    padding: 1% 20% 1% 1%;
    bottom: 0;
    height: 18%;
    z-index: 6;
}

.shadowed {
    background-color: black;
    opacity: 80%;
}

.red-bordered {
    border-style: solid;
    border-width: thick;
    border-color: red;
}

.unclickable {
    opacity: 50%;
}


.green-bordered {
    border-style: solid;
    border-width: thick;
    border-color: green;
}


.paymentIcon{
    height: -webkit-fill-available;
}
.shopItem{
    display: inline-block;
    padding:1% 1% 1% 1%;
    background-color: dimgrey;
    position:relative;
    margin-left:5%;
    background-image: url("../res/alcohol.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: solid #000;
    border-width: 0 2px;
}
.nameTag{
    background-color:rgb(201, 205, 209);
    height:20%;
    position:absolute;
    text-align:center;
    height:auto;
}
.infoIcon{
    height:20%;
    width: 20%;
    top:0;
    margin: 2% 2% 2% 2%;
}
.ecoIcon{
    height:20%;
    width: 20%;
    bottom:0;
    margin: 2% 2% 2% 2%;
}
.pcent{
    height:20%;
    width: 20%;
    margin: 2% 2% 2% 2%;
    color:white;
    font-weight:bold;
    font-size:large
}
.indeButton{
    width:100%;
    display:inline-block;
    bottom:0;
    position:absolute;
    margin-bottom:10%;
}
.indeDiv{
    background-color:green;
    display:inline-block;
    text-align: center;
    font-weight: bolder;
}
