html {
    height: 100%;
}

body{
    height:100%;
    margin:0px
 }
.orderBar{
    padding: 1% 20% 1% 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: dimgrey;
}
.orderScroll{
    left: 0;
    padding: 1% 1% 1% 1%;
    height: 90%;
    width: 75%;
    background-color: black;
    opacity: 50%;
    border-radius: 20px;
    position: relative
}
.scrollRow{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.scrollRow .shopItem{
    padding-bottom: 15%;
    width: 15%;
    background-color: grey;
    border-radius:20px;
    display: inline-block;
}

.orderButtonBox{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1% 1% 1% 1%;
    height: 20%;
    width: 15%;
}
.confirmButton{
    position: fixed;
    bottom:0;
    height:10%;
    width:15%;
    background-color: green;
    border-radius: 20px;
}
.rubbishBin{
    position: fixed;
    background-color: red;
    height:10%;
    width:15%;
    border-radius: 20px;
}

