body {
  background: #333;
  margin: 0;
  padding: 0;
  font-family: "Monstserrat", sans-serif;
}
.container {
  width: 220px;
  height: 300px;
  background: rgb(161, 161, 126);
  /* position: absolute; */
  position: fixed;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  border-radius: 10px 0px 25px 25px;
}
.container h1 {
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.tbox {
  width: 160px;
  height: 30px;
  background-color: #f1f1f1b3;
  border-radius: 10px;
  margin: 10px auto;
}
.tbox input {
  background: none;
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
  line-height: 17px;
  font-family: "Monstserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
.btn {
  width: 160px;
  height: 30px;
  background: #3498db;
  border-radius: 10px;
  margin: 14px auto;
  display: block;
  font-family: "Monstserrat", sans-serif;
  font-size: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
a {
  margin: 2px;
  margin-top: 20px;
  display: block;
  width: 120px;
  padding: 8px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: auto;
  transition: 0.4s all;
  font-size: 10px;
  border-radius: 10px;
}
.b1 {
  color: white;
}
.b2 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);

  color: #3498db;
}
a:hover {
  background: #00000040;
}
.vip-close {
  justify-content: start;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.24rem;
  font-weight: bold;
  align-items: right;
}
