:root {
    --primaryColor: #9c6735;
    --mainWhite: #fff;
    --mainBlack: rgb(12, 12, 12);
    --mainGrey: rgb(180,200,220);
    --mainNavColor: rgb(100,100,180);
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.display-container {
    background-color: rgb(175, 176, 189);
}

.confirmButton {
    min-width: min-content;
    width: 6rem;
    height: 5rem;
    /* Margins arrived at through trial and error. may need changing */
    margin-left: 0.5rem;
    margin-right: 2rem;
}

.orderBar {
    grid-template-columns: 0.5fr 3fr minmax(auto,0.5fr);
}

@media screen and (max-width: 826px) {
    .confirmButton {
        width: 5rem;
        height: 4rem;
    }
}
