body{
	background: #345;
	margin: 900px;
	padding: 0;
	font-family: "Monstserrat",sans-serif;
}
.container{
	width: 1536px;
	height: 2048px;
	background: green;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	text-align: center;
}
.container h2{
	font-size: 100px;
	margin-top: 232px;
	margin-bottom: 60px;
}
.container h1{
	font-size: 100px;
	margin-top: 52px;
	margin-bottom: 85px;
}
.container h3{
	font-size: 100px;
	margin-top: 164px;
	margin-bottom: 228px;
}
.submitbutton
{
	display:pointer;
}	
.overlay{
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    }
.modal{
    width: 910px;
    height: 1000px;
    line-height: 200px;
    position: fixed;
    top: 30%; 
    left: 20%;
    margin-top: -5px;
    margin-left: -5px;
    background-color: #8ebf42;
    border-radius: 40px;
    text-align: center;
    z-index: 11; 
    }
    .btn{
        width: 500px;
        height: 100px;
        text-align: center;
        background: white;
        border-radius: 10px;
        margin: 170px auto;
        display: block;
        font-family: "Monstserrat",sans-serif;
        font-size: 30px;
        border: none;
        color: black;
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
