:root {
  --primaryColor: #9c6735;
  --mainWhite: #fff;
  --mainBlack: rgb(12, 12, 12);
  --mainGrey: #e4dada;
  --mainNavColor: #e0a771;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainGrey);
  font-family: "Lato", sans-serif;
  margin: 0;
  line-height: 1.4;
}
img {
  max-width: 100%;
  padding: 0.2rem;
  border: 2px solid rgb(175, 173, 164);

  border-radius: 40px 40px;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* header */
.header-list {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(80px, auto);

  grid-gap: 20px;
  margin: 0;

  list-style: none;
}
.header-items {
  padding: 0.4rem;
  border: 2px solid rgb(175, 173, 164);

  border-radius: 60px 60px;
}

.header-items:hover {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}
.header-picture {
  align-self: center;
  justify-self: center;
}
.header-items.one {
  align-self: center;
  justify-self: center;
}
.header-items.two {
  align-self: center;
  justify-self: center;
}
.header-items.three {
  align-self: center;
  justify-self: center;
}
.header-items.four {
  align-self: center;
  justify-self: center;
}
/* end header */

/* start nav section */
.nav {
  display: grid;
}
/* end nav section */
.nav-list {
  position: sticky;
  background-color: var(--mainNavColor);
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-auto-rows: minmax(70px, auto);

  grid-gap: 10px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;

  list-style: none;
}
.nav li {
  background-color: rgb(245, 216, 178);
  padding: 0.5rem 0.9rem;
  align-self: center;
  justify-self: center;
  box-shadow: black;
  border: 2px solid rgb(238, 230, 230);

  border-radius: 50px 20px;
}
.nav li:hover {
  position: relative;
  top: -5px;
}
.nav-drink {
  grid-column: 1/2;
}
.nav-food {
  grid-column: 2/3;
}
.nav-set {
  grid-column: 4/5;
  align-self: right;
}
.nav-filter {
  grid-column: 5/6;
  align-self: right;
}
