.user-overlay-container{
	width: minmax(30%,400px);
	height: minmax(43%,280px);
	background: rgb(240, 211, 81);
	position: absolute;
	top: 9%;
	left: 77%;
	/*transform: translate(-50%,-50%);*/
	color: white;
	text-align: center;
	z-index: 6;
}

.user-overlay-container h1{
	font-size: 40px;
	margin-top: 25px;
	margin-bottom: 30px;
}
.user-overlay-container form .tbox{
	width: 260px;
	height: 40px;
	background-color: #f1f1f1b3;
	border-radius: 10px;
	margin:10px auto;
}

.user-overlay-container form .tbox input{
	background: none;
	border: none;
	outline: none;
	text-align: center;
	width: 90%;
	line-height: 37px;
	font-family: "Monstserrat",sans-serif;
	font-size: 14px;
	color: #333;

}
.user-overlay-container form .btn{
	width: 260px;
	height: 40px;
	background: #3498db;
	border-radius: 10px;
	margin: 14px auto;
	display: block;
	font-family: "Monstserrat",sans-serif;
	font-size: 16px;
	border: none;
	color: white;
	cursor: pointer;
}

.colored-header {
  width: 100%;
  height: 5em;
  background-color: #949494;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#header-button-container {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: right;
  align-items: right;
}

:root {
  --primaryColor: #9c6735;
  --mainWhite: #fff;
  --mainBlack: rgb(12, 12, 12);
  --mainGrey: #e4dada;
  --mainNavColor: #dbb694;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
  height: 100%;
}
body {
  color: var(--mainBlack);
  background: var(--mainGrey);
  font-family: "sans-serif";
  margin: 0;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}
.header img {
  padding: 0;
  width: 100%;
  height: 20vh;
  /* object-fit: fill; */

  border-radius: 35px 35px;
}
.wrapper {
  display: grid;
  grid-gap: 5px;
  height: 100%;
}

/* header */
.header-list {
  display: grid;
  grid-template-columns: 10fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr;
  grid-auto-rows: minmax(80px, 150px);

  grid-gap: 10px;
  margin: 0;

  list-style: none;
}
.header-items {
  padding: 0.4rem;
  border: 2px solid rgb(175, 173, 164);

  border-radius: 60px 60px;
}

.header-items:hover {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}
.header-picture {
  object-fit: fill;
  align-self: center;
  justify-self: center;
}
.header-items {
  align-self: center;
  justify-self: center;
}
.login-status {
  padding: 0.4rem;
}
/* end header */

/* start nav section */
.nav {
  height: 80px;
  display: grid;
  position: sticky;
  top: 0px;
  cursor: pointer;
}
/* end nav section */
.nav-list {
  background-color: var(--mainNavColor);
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-auto-rows: minmax(70px, auto);

  grid-gap: 10px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;

  list-style: none;
  box-shadow: black;
}
.nav li {
  background-color: rgb(29, 27, 25);
  background: rgb(201, 192, 192);
  padding: 0.5rem 0.9rem;
  align-self: center;
  justify-self: center;

  border: 2px solid rgb(238, 230, 230);

  border-radius: 20px 20px;
}

.nav li:hover {
  position: relative;
  top: -5px;
}
.nav-drink {
  font-size: 2rem;
  grid-column: 1/2;
}
.nav-food {
  font-size: 2rem;
  grid-column: 2/3;
}
.nav-set {
  grid-column: 4/5;
  align-self: right;
}
.nav-filter {
  grid-column: 5/6;
  align-self: right;
}
/* start main display */
.display-container {
  height: 71%;
  background-color: rgb(188, 189, 175);
  display: grid;

  /* grid-template-areas: "sideshow itemshow itemshow itemshow"; */
  grid-template-columns: 0.8fr 3fr auto;
  grid-gap: 10px;
  padding: 0;

  overflow-x: hidden;
  overflow-y: scroll;
}
.side-container {
  padding: 5px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(auto, auto));
  overflow-x: hidden;
  overflow-y: scroll;
}
.side-container h1 {
  text-transform: uppercase;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  border-color: lightgoldenrodyellow;
  background-color: rgb(201, 205, 209);
}
.side-container h1:hover {
  background-color: var(--mainWhite);
}
.item-container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 185px));
  grid-auto-rows: minmax(175px, 205px);
  grid-gap: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  /* padding: 10px; */
}
.item-container img {
  max-width: 100%;
  padding: 0.4rem 0.3rem;
  background-color: gray;
}

.show-filter {
  display: none;
  grid-template-rows: (auto, minmax(20px, 50px));
  /* grid-auto-columns: minmax(auto, 15vw); */

  /* width: 15vw; */
  min-height: 1%;
  overflow: hidden;
  background: black;

  background-color: var(--mainNavColor);

  border-radius: 45px 1px;
  cursor: pointer;
  border: thick;
  padding-left: 7px;
  overflow-y: scroll;
}
.show-filter h3 {
  font-size: medium;
  margin-block-end: 0.2em;
  align-items: center;
  justify-content: center;
}
.btn-submit {
  font-size: large;
  font-weight: bold;
  border-radius: 20px 20px;
  align-self: center;
  justify-self: center;
  margin: 1rem;
}
/*.item-container img:hover {*/
/*  position: relative;*/
/*  top: -5px;*/
/*}*/
/* end main display */
/* start cart  */
.cart {
  display: grid;
  grid-gap: 10px;
  padding: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: rgb(201, 205, 209);
}
.payment {
  background-color: rgb(207, 190, 159);
  padding: 1rem;
  align-self: center;
  justify-self: center;
}
.trash {
  background-color: rgb(207, 190, 159);
  padding: 1rem;
  align-self: center;
  justify-self: center;
}
.orderlist {
  background-color: rgb(207, 190, 159);
}

/* end cart */

.side-container .selected {
  background-color: darkred;
}

/* payment overlay */
.overlay-cover {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(66, 53, 41, 0.8);
  z-index: 5;
  visibility: visible;
}
.payoverlay-dialog {
  position: fixed;

  height: 90%;
  min-height: fit-content;
  top: 5%;
  bottom: 30%;
  left: 30%;
  right: 30%;

  border-radius: 10px;
  background: rgb(188, 189, 175);
  box-shadow: 0 0 10px #000000;
  z-index: 6;
  display: none;
  grid-template-rows: auto;
}

.pay-items {
  position: relative;
  height: 70%;
  margin: 0;
  padding: 0;

  display: gird;
  grid-template-rows: repeat(1fr);

  background: black;

  background-color: var(--mainNavColor);

  border: thick;
  overflow: scroll;

  /*what ever the size of the image let it be*/
}
.pay-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr; /*what ever the size of the image let it be*/
  grid-column-gap: 1rem;

  padding-right: 1rem;

  border: 2px solid #d1a174;
}

.each-item img {
  max-width: 60%;
  max-height: 60%;

  padding: 0.4rem 0.3rem;
  background-color: rgb(241, 220, 194);
}

.payment-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 10px;

  padding: 1px;
  border: 5px solid rgb(199, 184, 152);
}
.type1 {
  height: auto;
  background-color: rgb(216, 214, 191);
  justify-self: center;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.payment-type h6 {
  margin: 0;
}
.type1 img:hover {
  position: relative;
  top: -4px;
}
.payoverlay-dialog h1 {
  text-align: center;
  font-size: 100%;
}
.payment-header {
  display: inline;
}

.pay-closebtn {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 21px;
  font-weight: 700;
  padding: 3px 3px;

  border-radius: 10px;

  background-color: rgb(236, 108, 108);

  cursor: pointer;
}

/* end payment overlay */
