:root {
  --primaryColor: #9c6735;
  --mainWhite: #fff;
  --mainBlack: rgb(12, 12, 12);
  --mainGrey: #e4dada;
  --mainNavColor: #dbb694;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
  height: 100%;
}
body {
  color: var(--mainBlack);
  background: var(--mainGrey);
  font-family: "sans-serif";
  margin: 0;
  line-height: 1.4;
  height:100%;
  margin: 0;
  padding: 0;
}
.header img {
  padding: 0.2rem;
  max-width: 80%;

  border-radius: 25px 25px;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* header */
.header-list {
  display: grid;
  grid-template-columns: 10fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-auto-rows: minmax(80px, auto);

  grid-gap: 20px;
  margin: 0;

  list-style: none;
}
.header-items {
  padding: 0.4rem;
  border: 2px solid rgb(175, 173, 164);

  border-radius: 60px 60px;
}

.header-items:hover {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}
.header-picture {
  align-self: center;
  justify-self: center;
}
.header-items.one {
  align-self: center;
  justify-self: center;
}
.header-items.two {
  align-self: center;
  justify-self: center;
}
.header-items.three {
  align-self: center;
  justify-self: center;
}
.header-items.four {
  align-self: center;
  justify-self: center;
}
/* end header */

/* start nav section */
.nav {
  display: grid;
  position: sticky;
  top: 0px;
}
/* end nav section */
.nav-list {
  background-color: var(--mainNavColor);
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-auto-rows: minmax(70px, auto);

  grid-gap: 10px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;

  list-style: none;
  box-shadow: black;
}
.nav li {
  background-color: rgb(29, 27, 25);
  background: rgb(201, 192, 192);
  padding: 0.5rem 0.9rem;
  align-self: center;
  justify-self: center;

  border: 2px solid rgb(238, 230, 230);

  border-radius: 20px 20px;
}

.nav li:hover {
  position: relative;
  top: -5px;
}
.nav-drink {
  font-size: 2rem;
  grid-column: 1/2;
}
.nav-food {
  font-size: 2rem;
  grid-column: 2/3;
}
.nav-set {
  grid-column: 4/5;
  align-self: right;
}
.nav-filter {
  grid-column: 5/6;
  align-self: right;
}
/* start main display */
.display-container {
  background-color: rgb(188, 189, 175);
  display: grid;
  grid-gap: 20px;

  /* grid-template-areas: "sideshow itemshow itemshow itemshow"; */
  grid-template-columns: 1.2fr 4fr;
  height: 85%;
}
.side-container {
  display: grid;
    grid-template-rows: repeat(auto-fit, minmax(auto, auto));
   /*grid-area: sideshow; */
}
.side-container h1 {
  text-transform: uppercase;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  border-color: lightgoldenrodyellow;
  background-color: rgb(201, 205, 209);
}
.side-container h1:hover {
  background-color: var(--mainWhite);
}
.item-container {
  display: grid;
  margin: 1rem;

  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/*.item-container img:hover {*/
/*  position: relative;*/
/*  top: -5px;*/
/*}*/
/* end main display */
/* start cart  */
.cart {
  display: grid;
  grid-gap: 10px;
  padding: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: rgb(201, 205, 209);
}
.payment {
  background-color: rgb(207, 190, 159);
  padding: 1rem;
  align-self: center;
  justify-self: center;
}
.trash {
  background-color: rgb(207, 190, 159);
  padding: 1rem;
  align-self: center;
  justify-self: center;
}
.orderlist {
  background-color: rgb(207, 190, 159);
}

/* end cart */

.side-container .selected {
    background-color: darkred;
}
